@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 1;
    padding: 1;
    font-family: 'Lato', sans-serif;
}

.fondo{
    background: #E4F2FF;
}

.title {
    width: 100%;
    height: 48px;
    left: 131px;
    top: 1114px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #037EF3;
}

.subtitle {
    width: 100%;
    height: 24px;
    left: 40px;
    top: 1214px;
    padding-inline-start: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.form-input {
    height: 50px;
    width: 95%;
    padding: 15px;
    margin: 8px;
    
    background: #F6F6F6;
    border: 1px solid #ccc;
    border-radius: 7px;
}