@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 1;
    padding: 1;
    font-family: 'Lato', sans-serif;
}

.buttonActivated {
    width: 100px;
    height: 50px;
    background: #037EF3
}

.buttonDeactivated {
    width: 100px;
    height: 50px;
    background: #F6F6F6;
}

.subtitle-blank {
    width: 100%;
    height: 24px;
    padding-inline-start: 19px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.subtitle {
    width: 100%;
    height: 24px;
    padding-inline-start: 19px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.title {
    width: 100%;
    height: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #037EF3;
}

.title-hide-on-big {
    width: 100%;
    height: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #037EF3;
}

.all {
    background: #E4F2FF;
    padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    width: 100%;
    background: #ffffff;
}

@media only screen and (min-width:0px)and (max-width:413px) {
    .img414 {
        display: none;
    }
    .img768 {
        display: none;
    }
    .img1024 {
        display: none;
    }
    .img1440 {
        display: none;
    }
    .cvv {
        display: none;
    }
    .mmaa {
        display: none;
    }
    .subtitle-blank {
        display: none;
    }
    .column {
        display: none;
    }
    .column-inner {
        display: none;
    }
    .box-big-invisible {
        display: none;
    }
    .box-big {
        display: none;
    }
    .box-small {
        display: none;
    }
    .box-small-inner {
        display: none;
    }
    .form-input {
        display: none;
    }
}

@media only screen and (min-width:414px)and (max-width:767px) {
    .img414 {
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .img768 {
        display: none;
    }
    .img1024 {
        display: none;
    }
    .img1440 {
        display: none;
    }
    .cvv {
        height: 50px;
        width: 83px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left: 8px;
    }
    .mmaa {
        margin-right: 8px;
        height: 50px;
        width: 244px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .subtitle-blank {
        display: none;
    }
    .column {
        width: 100%;
        background: #E4F2FF;
    }
    .column-inner {
        width: 100%;
        background: #FFFFFF;
    }
    .box-big-invisible {
        width: 372px;
        height: min-content;
        text-align: center;
        background: #E4F2FF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-big {
        width: 372px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-small {
        width: 372px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
    }
    .box-small-inner {
        width: 372px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .form-input {
        height: 50px;
        width: 342px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}

@media screen and (min-width:768px)and (max-width:1023px) {
    .img414 {
        display: none;
    }
    .img768 {
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .img1024 {
        display: none;
    }
    .img1440 {
        display: none;
    }
    .cvv {
        height: 50px;
        width: 134px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        margin-left: 12.5px;
        border-radius: 10px;
    }
    .mmaa {
        height: 50px;
        width: 394px;
        margin-right: 12.5px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .column {
        width: 100%;
        background: #E4F2FF;
    }
    .subtitle-blank {
        display: none;
    }
    .column-inner {
        width: 100%;
        background: #FFFFFF;
    }
    .box-big {
        width: 600px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-big-invisible {
        width: 600px;
        height: min-content;
        text-align: center;
        background: #E4F2FF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-small {
        width: 600px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
        transform: translate(-50%, 0%);
    }
    .box-small-inner {
        width: 600px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .form-input {
        height: 50px;
        width: 553px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .img414 {
        display: none;
    }
    .img768 {
        display: none;
    }
    .img1024 {
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .img1440 {
        display: none;
    }
    .cvv {
        height: 50px;
        width: 97px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left: 8px;
    }
    .mmaa {
        margin-right: 8px;
        height: 50px;
        width: 291px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .box-big-invisible {
        width: 887px;
        height: min-content;
        text-align: center;
        background: #E4F2FF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-big {
        width: 887px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .title {
        width: 100%;
        height: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
        color: #037EF3;
    }
    .title-hide-on-big {
        width: 100%;
        height: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 10px;
        text-align: center;
        color: #E4F2FF;
    }
    .column {
        background: #E4F2FF;
        float: left;
        width: 50%;
        padding: 10px;
        height: max-content;
    }
    .column-inner {
        background: #ffffff;
        float: left;
        width: 50%;
        padding: 0px;
        height: max-content;
    }
    .box-small {
        width: 432px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
    }
    .box-small-inner {
        width: 432px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .form-input {
        height: 50px;
        width: 404px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}

@media screen and (min-width:1440px) {
    .img414 {
        display: none;
    }
    .img768 {
        display: none;
    }
    .img1024 {
        display: none;
    }
    .img1440 {
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .cvv {
        height: 50px;
        width: 115px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left: 8px;
    }
    .mmaa {
        margin-right: 8px;
        height: 50px;
        width: 354px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .box-big-invisible {
        width: 1047px;
        height: min-content;
        text-align: center;
        background: #E4F2FF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .box-big {
        width: 1047px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .title {
        width: 100%;
        height: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
        color: #037EF3;
    }
    .title-hide-on-big {
        width: 100%;
        height: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 10px;
        text-align: center;
        color: #E4F2FF;
    }
    .column {
        background: #E4F2FF;
        float: left;
        width: 50%;
        padding: 10px;
        height: max-content;
    }
    .column-inner {
        background: #ffffff;
        float: left;
        width: 50%;
        padding: 0px;
        height: max-content;
    }
    .box-small {
        width: 511px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        box-shadow: 0px 4px 20px rgba(3, 126, 243, 0.1);
    }
    .box-small-inner {
        width: 511px;
        height: min-content;
        text-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        position: relative;
        padding: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .form-input {
        height: 50px;
        width: 483px;
        padding: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}